body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

header {
  height: 1000px;;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 100px;
  line-height: 100px;
  background-color: white;
}

nav {
  height: 100px;
  background-color: white;
}

button {
  cursor: pointer;
}

p, h4 {
  margin: 0;
  padding: 0;
}


/*Style for buttons*/
.confirm-button {
  font-size: 20px;
  line-height: 2.25;
  border: solid 1px rgb(21, 164, 250);
  border-radius: 2px;
  color: white;
  background-color: transparent;
  transition: background-color .4s;
}
.confirm-button:hover {
  background-color: rgb(21, 164, 250);
}


.content {
  max-width: 1100px;
  margin: auto;
}

/*Header styles*/
.logo {
  height: 100%;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 100px;
  text-transform: uppercase;
  color: rgb(45, 57, 80);
}

.logo img {
  margin-bottom: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.banner {
  height: calc(100% - 100px);
  vertical-align: middle;
  text-align: center;
}

.banner::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.banner>.content {
  display: inline-block;
  vertical-align: middle;
}

.banner-text {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.banner-hr {
  height: 2px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  background-color: rgb(21, 164, 250);
}

.banner-info {
  font-size: 20px;
  margin-bottom: 60px;
  line-height: 2.35;
  text-align: center;
  color: rgb(255, 255, 255);
}

.banner-button {
  width: 180px;
}

.banner-arrow {
  bottom: 90px;
  margin: auto;
  position: relative;
}



/*Preview section styles*/

.preview {
  min-height: 350px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(246, 249, 249);
}

.preview h4 {
  font-size: 40px;
  padding-top: 80px;
  margin-bottom: 40px;
  color: rgb(45, 57, 80);
}

.preview p {
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: rgb(153, 153, 153);
}



/*Feature section styles*/

.features-description {
  height: 350px;
  width: 1100px;
  margin: auto;
  background-color: white;
}

.features {
  height: 100%;
}

.feature {
  width: 33%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.features::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.feature-img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.feature-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.left-part {
  height: 100%;
  width: 50%;
  float: left;
  border-radius: 2px;
  background-color: rgb(72, 186, 255);
}

.right-part {
  height: 100%;
  width: 50%;
  float: left;
  border-radius: 2px;
  background-color: rgb(95, 195, 255);
}

.feature-headline {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: rgb(45, 57, 80);
}

.feature-info {
  font-size: 15px;
  line-height: 1.467;
  color: rgb(153, 153, 153);
}



/*Portfolio section styles*/

.portfolio {
  padding-bottom: 100px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(246, 249, 249);
}

.portfolio-headline {
  font-size: 41px;
  padding-top: 80px;
  margin-bottom: 20px;
  color: rgb(45, 57, 80);
}

.portfolio-info {
  font-size: 15px;
  margin-bottom: 80px;
  color: rgb(144, 144, 144);
}

.portfolio-items {
  margin: auto;
  overflow: hidden;
}

.portfolio-item {
  height: 260px;
  width: 360px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  float: left;
}

.portfolio-item:hover .portfolio-item-controls{
  visibility: visible;
  background-color: rgb(21, 164, 250);
}

.portfolio-item-controls {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  visibility: hidden;
  border: 1px solid white;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color .4s;
  opacity: 0.9;
}

.portfolio-item-controls::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.controls {
  display: inline-block;
  vertical-align: middle;
}

.portfolio-item-controls button {
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 2px;
  border: 1px solid white;
  display: inline-block;
  background-color: transparent;
}

.portfolio-item-controls i {
  display: inline-block;
}

.portfolio-item img {
  height: 100%;
  width: 100%;
}

.portfolio-item::after {
  content: "";
  display: table;
  clear: both;
}



/*Feedback setcion styles*/

.feedback {
  height: 700px;
  position: relative;
  text-align: center;
  background-image: url(../images/feedback_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-headline {
  font-size: 41px;
  padding-top: 70px;
  margin-bottom: 10px;
  color: white;
}

.feedback-info {
  font-size: 15px;
  color: rgb(153, 153, 153);
  margin-bottom: 50px;
}

.feedback-line {
  margin-bottom: 10px;
}

.feedback input, textarea {
  font-size: 15px;
  height: 50px;
  width: 550px;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
  background-color: transparent;
}

textarea.message{
  padding: 15px;
  height: 200px;
  resize: none;
}

input.subscribe{
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgb(153, 153, 153);
  background-color: white;
  color: rgb(153, 153, 153);
}

.subscribe-label {
  color: white;
  font-style: 17px;
}

.feedback input:focus {
  border: 1px solid white;
  color: white;
}

.feedback-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(45, 57, 80);
  opacity: 0.902;
}

.feedback-content {
  display: inline-block;
}

.subscribe-line {
  float: left;
}

.feedback-button {
  width: 150px;
  float: right;
}


/*Footer*/

.copyright {
  font-size: 18px;
  display: inline-block;
  color: rgb(153, 153, 153);
}

.footer-links {
  height: 100%;
  float: right;
}

.footer-links::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.footer-link {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: auto;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: rgb(21, 164, 250);
  cursor: pointer;
}

.footer-link i {
  display: inline-block;
}



 /*Sprites*/

.icons {
  cursor: pointer;
  background-image: url(../icons/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.icon-arrow {
  width: 20px;
  height: 12px;
  background-position: -5px -5px;
}

.icon-close {
  width: 11px;
  height: 11px;
  background-position: -35px -5px;
}

.icon-facebook_icon {
  width: 9px;
  height: 15px;
  background-position: -56px -5px;
}

.icon-google_icon {
  width: 14px;
  height: 15px;
  background-position: -75px -5px;
}

.icon-link {
  width: 14px;
  height: 14px;
  background-position: -99px -5px;
}

.icon-linkedin_icon {
  width: 14px;
  height: 13px;
  background-position: -123px -5px;
}

.icon-twitter_icon {
  width: 14px;
  height: 12px;
  background-position: -147px -5px;
}

.icon-zoom {
  width: 15px;
  height: 15px;
  background-position: -169px -5px;
}
